.hero{
    
    min-height: 1000px;
    background-image: url(../images/hero.jpg);
    background-size: 3008px 1058px ;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    position: relative;
    display: flex;
    align-items : center;
    justify-content: center;
    
}
.hero__container{
    position: absolute;
    max-width: 1250px;
    top: 48%;
    display : grid;
    place-items: center;
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
    padding: 3rem;
    
    color: #fff;
    
    
   
    
}

.hero__container h1{
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    
}
.hero__container span{
    font-size: 1.4rem;
    width: 60%;
    text-align: center;
    color: #fff;
    font-weight: 500;
 
    
    
}
.hero__container button{
    background-color: transparent;
    color: #fff;
    padding: 10px;
    width: 150px;
    font-size: 1rem;
    border-radius: 20px;
    outline: none;
    border: 2px solid #fff;
    cursor: pointer;
}
.hero__container button:hover{
    background-color: #fff;
    transition: all 0.2s ease-in;
    color: #001 ;
}


@media screen and (max-width: 768px){
    .hero{
      height: 100vh;  

    }
    .hero__container h1{
        font-size: 3rem;
    }
    .hero__container span{
        width: 100%;
        
    }
}
    
